// COLORS

// Monotone
$trueBlack: rgb(0,0,0); // #000
$black: rgb(34,34,34); // #222
$gray: rgb(51,51,51); // #333
$gray40: rgb(102,102,102); // #666
$gray60: rgb(153,153,153); // #999
$gray80: rgb(204,204,204); // #ccc
$lightGray: rgb(249,249,249); // #f9f9f9
$white: rgb(255,255,255); // #fff

// Blue
$lightBlue: rgb(0,174,255); // #00aeff

// Red
$red: rgb(210,75,39); // #d24b27

// Green
$green: rgb(70,136,71);

// Selection colors
$selection-bg: $gray40 !default;
$selection-color: $white !default;