// Countdown component

.countdown {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
  height: 200px;
  background-color: rgba($true-white, 0.25);
  border: 4px solid $true-white;

  h1 {
    position: absolute;
    z-index: 1;
    top: -20%;
    left: 0;
  }
}
