@import 'variables';

@media screen and (max-width:480px) {
	body { background-position:-250px 0; }
	#container {
		min-width:310px;
		#countdown { top:20%; }
	}
	footer p { display:none; }
}

@media screen and (min-width:768px) and (max-width:979px) {
	body { background-position:-550px 0; }
}

@media screen and (min-width:321px) and (max-width:767px) {
	body { background-position:0 0; }
	#container {
		min-width:500px;
		#box { top:20%; margin-bottom:20px; }
	}
}

@media screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
	body { background-position-x:-200px; }
}