// COUNTDOWN

.box {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 4px solid $white;
    background-color: rgba(255,255,255,0.25);
    text-shadow: 1px 0 1px rgba(0,0,0,0.5);
    opacity: 0;
    animation: fadeIn 2s ease-in 1s 1;
    &.show {
        opacity: 1;
        transition: opacity 0 linear 1s;
    }
    h1 {
        position: absolute;
        z-index: 1;
        top: -20%;
        left: 0;
        opacity: 1;
    }
    h2 {
        @include fontSize(32px);
    }
}

.countdown {
    text-align: center;
}

// MODERNIZR FALLBACKS
.no-flexbox .countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -310px;
}