// MAIN

html,
body {
    height: 100%;
}

html {
    font: normal normal #{$base-font-size}/#{$base-line-height} $base-font-family;
}

body {
    position: relative;
    z-index: 1;
    color: $base-font-color;
    @include fontSize($base-font-size);
    line-height: $base-line-height;
    background-color: $trueBlack;
    background-image: url(/assets/img/2015.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &:after {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.45);
        content: '';
    }
}

.wrapper {
    position: relative;
    z-index: 2;
    padding-top: 15%;
    min-height: 100%;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 960px;
    width: 90%;
}

.block-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;
}

// Pixel ratios are not supported by Autoprefixer yet, so Webkit-only for now
@media only screen and (min-width: $screen-lg) and (-webkit-min-device-pixel-ratio: 1.5) {
    body {
        background-image: url(/assets/img/champions_2x.jpg);
    }
}