// TYPOGRAPHY

// Links
a {
    color: $base-link-color;
    text-decoration: none;
    transition: color 0.25s ease-out;

    &:hover {
        color: lighten($base-link-color, 10%);
        cursor: pointer;
        transition: color 0.25s ease-out;
    }
}

p a {
    line-height: inherit;
    &:visited { line-height: inherit; }
}

// Headings
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    @include fontSize(24px);
}